# Ignore Flask instance folder
instance/

# Ignore SQLite database files
.sqlite3
.db

# Ignore Python cache files
__pycache__/
.pyc

# Ignore environment file
.env

# Ignore sessions
flask_session/

# Ignore vscode and venv
.vscode/
venv/