<section id="{{ column_id }}-column" class="column">
    <h2 id="{{ column_id }}-heading">{{ column_title }}</h2>
    <ol class="task-list" id="{{ column_title }}">
        <!-- empty cell to enable drag and drop -->
        <li style="background-color: {{ bg_color }}"></li>

        {% for task in tasks %}
            {% if task.status == column_title %}
                <li id="{{ task.id }}" class="task-card" draggable="{{ 'true' if task.status != 'Done' else 'false' }}">
                    <h3>{{ task.title }}</h3>
                    <p>{{ task.description }}</p>
                    <p id="priority-{{ task.priority }}">Priority: {{ task.priority }}</p>

                    {% if task.due_date is not none and task.status != 'Done' %}
                        {% if task.due_date < today %}
                            <p id="due_date" class="over_due">Due On: {{ task.due_date }}</p>
                        {% elif task.due_date < after_tommorow %}
                            <p id="due_date" class="due_soon">Due On: {{ task.due_date }}</p>
                        {% else %}
                            <p id="due_date">Due On: {{ task.due_date }}</p>
                        {% endif %}
                    {% endif %}

                    {% set ns = namespace(printed=false) %}
                    {% set ns = namespace(break_loop=False) %}
                    <ol>
                        
                        {% for sub in subtasks %}
                            {% if not ns.break_loop %}                        
                                {% if sub.parent_id == task.id %}
                                    {% if task.status == 'Done' %}
                                        <h6>✅ All subtasks complete</h6>
                                        {% set ns.break_loop = true %}                                   
                                    {% else %}
                                        {% if not ns.printed %}
                                            <h6>SubTasks:</h6>
                                            {% set ns.printed = true %}
                                        {% endif %}
                                        <li>{{ sub.title }}: {{ sub.status }}</li>
                                    {% endif %}
                                {% endif %}
                            {% endif %}                        
                        {% endfor %}
                        
                    </ol>
                    
                    <div id="task-buttons">
                        <button onclick="deleteTask('{{ task.id }}')" id="delete-task">Delete Task</button>
                        {% if task.status != 'Done' %}
                            <button onclick="generateTask('{{ task.id }}')" id="sub-task">Generate 3 Subtasks</button>
                        {% endif %}
                        <a href="{{ url_for('editTask', id=task.id) }}" id="update-task">Update Task</a>
                    </div>
                    
                </li>
            {% endif %}
        {% endfor %}
    </ol>
</section>