{% extends "layout.html" %}

{% block title %}
    Add Task
{% endblock %}

{% block body %}
    <header>
            <h1>Smart Task Manager</h1>
    </header>

    <main>
        <section id="add-task-form" aria-labelledby="add-task-heading">
                <h2 id="add-task-heading">Add Task</h2>
                <form action="/addtask" method="post">
                    <label for="task-title">Task Title</label>
                    <input autocomplete="off" autofocus name="task" type="text" id="task-title" placeholder="e.g. Build CS50x final project" required>

                    <label for="task-desc">Task Description</label>
                    <textarea autocomplete="off" autofocus name="description" id="task-desc" placeholder="Optional: describe the task"></textarea>

                    <label for="task-priority">Priority</label>
                    <select name="priority" id="task-priority" required>
                        <option value="low">Low Priority</option>
                        <option value="medium">Medium Priority</option>
                        <option value="high">High Priority</option>
                    </select>

                    <select name="type" id="task-type" required>
                        <option value="To-Do">To Do</option>
                        <option value="In-Progress">In Progress</option>
                        <option value="Done">Done</option>
                    </select>
                    <button type="submit">Add Task</button>
                </form>
            </section>
    </main>
{% endblock %}
