{% extends "layout.html" %}

{% block title %}
Tasks
{% endblock %}

{% block body %}
    <header>
        <h1>Delete Task</h1>
    </header>

    <main>
        <section id="add-task-form" aria-labelledby="add-task-heading">
            <h2 id="add-task-heading">Add Task</h2>
            <form action="delete-task" method="post">
                <label for="taskID">Task Title</label>
                <input autocomplete="off" autofocus name="taskID" type="text" id="task-ID"
                    placeholder="1" required>

                <button type="submit">Delete Task</button>
            </form>
        </section>
    </main>
{% endblock %}