{% extends "layout.html" %}

{% block title %}
    Smart Task Manager
{% endblock %}



{% block body %}
        <header>
            <h1>Smart Task Manager</h1>
        </header>

        <main>
            <section id="kanban-board">
                <section id="todo-column" aria-labelledby="todo-heading" >
                    <h2 id="todo-heading">To Do</h2>
                    <ol class = "task-list" id="To Do">
                        <!-- empty cell to enable drag and drop -->
                        <li style="background-color: #FFFFE0"></li>
                        {% for task in tasks %}
                            {% if task.status == 'To Do' %}
                                <li id="{{ task.id }}" draggable="true">
                                    <h3>{{ task.title }}</h3>
                                    <p>{{ task.description }}</p>
                                    <p>priority: {{ task.priority }}</p>
                                    {% if task.due_date is not none %}
                                        <p>due on: {{ task.due_date }}</p>
                                    {% endif %}

                                    {% set ns = namespace(printed=false) %}
                                    <ol>
                                    {% for sub in subtasks %}
                                        {% if sub.parent_id == task.id %}
                                            {% if not ns.printed %}
                                                <h6>SubTasks:</h6>
                                                {% set ns.printed = true %}
                                            {% endif %}
                                            <li>{{ sub.title }}, {{ sub.status }}</li>
                                        {% endif %}
                                    {% endfor %}
                                    </ol>
                                    <button onclick="generateTask('{{ task.id}}')" id="sub-task">Generate 3 Subtasks</button>
                                    <button onclick="deleteTask('{{ task.id }}')" id="delete-task">Delete Task</button>
                                    <a href="{{ url_for('editTask', id=task.id) }}" id="update-task">Update Task</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </section>

                <section id="in-progress-column"  aria-labelledby="in-progress-heading">
                    <h2 id="in-progress-heading">In Progress</h2>
                    <ol class = "task-list" id="In Progress">
                        <!-- empty cell to enable drag and drop -->
                        <li style="background-color: #E0FFFF"></li>
                        {% for task in tasks %}
                            {% if task.status == 'In Progress' %}
                                <li id="{{ task.id }}" draggable="true">
                                    <h3>{{ task.title }}</h3>
                                    <p>{{ task.description }}</p>
                                    <p>priority: {{ task.priority }}</p>
                                    {% if task.due_date is not none %}
                                        <p>due on: {{ task.due_date }}</p>
                                    {% endif %}

                                    {% set ns = namespace(printed=false) %}
                                    <ol>
                                    {% for sub in subtasks %}
                                        {% if sub.parent_id == task.id %}
                                            {% if not ns.printed %}
                                                <h6>SubTasks:</h6>
                                                {% set ns.printed = true %}
                                            {% endif %}
                                            <li>{{ sub.title }}, {{ sub.status }}</li>
                                        {% endif %}
                                    {% endfor %}
                                    </ol>
                                    <button onclick="generateTask('{{ task.id}}')" id="sub-task">Generate 3 Subtasks</button>
                                    <button onclick="deleteTask('{{ task.id }}')" id="delete-task">Delete Task</button>
                                    <a href="{{ url_for('editTask', id=task.id) }}" id="update-task">Update Task</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </section>

                <section id="done-column" aria-labelledby="done-heading">
                    <h2 id="done-heading">Done</h2>
                    <ol class = "task-list" id="Done">
                        <!-- empty cell to enable drag and drop -->
                        <li style="background-color: #E0FFE0"></li>
                        {% for task in tasks %}
                            {% if task.status == 'Done' %}
                                <li id="{{ task.id }}" draggable="true">
                                    <h3>{{ task.title }}</h3>
                                    <p>{{ task.description }}</p>
                                    <p>priority: {{ task.priority }}</p>
                                    {% if task.due_date is not none %}
                                        <p>due on: {{ task.due_date }}</p>
                                    {% endif %}
                                    
                                    {% set ns = namespace(printed=false) %}
                                    <ol>
                                    {% for sub in subtasks %}
                                        {% if sub.parent_id == task.id %}
                                            {% if not ns.printed %}
                                                <h6>SubTasks:</h6>
                                                {% set ns.printed = true %}
                                            {% endif %}
                                            <li>{{ sub.title }}, {{ sub.status }}</li>
                                        {% endif %}
                                    {% endfor %}
                                    </ol>
                                    <button onclick="generateTask('{{ task.id}}')" id="sub-task">Generate 3 Subtasks</button>
                                    <button onclick="deleteTask('{{ task.id }}')" id="delete-task">Delete Task</button>
                                    <a href="{{ url_for('editTask', id=task.id) }}" id="update-task">Update Task</a>                  
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </section>
            </section>
        </main>

{% endblock %}
