{% extends "layout.html" %}

{% block title %}
    Smart Task Manager
{% endblock %}



{% block body %}
        <header>
            <h1>Smart Task Manager</h1>
        </header>

        <main>
            <input type="text" id ="search" placeholder="Search tasks...">

            <div id="filters">
                <select id="priority-filter">
                    <option value="">All Priorities</option>
                    <option value="low">Low Priority</option>
                    <option value="medium">Medium Priority</option>
                    <option value="high">High Priority</option>
                </select>

                <input type="date" id="start-date">
                <input type="date" id="end-date">
            </div>

            <section id="kanban-board">
                {% set column_id = "todo" %}
                {% set column_title = "To Do" %}
                {% set bg_color = "#FFFFE0" %}
                {% include "_column.html" %}

                {% set column_id = "in-progress" %}
                {% set column_title = "In Progress" %}
                {% set bg_color = "#E0FFFF" %}
                {% include "_column.html" %}

                {% set column_id = "done" %}
                {% set column_title = "Done" %}
                {% set bg_color = "#E0FFE0" %}
                {% include "_column.html" %}
            </section>
            <div>
                <p id="summary-text"></p>
                <button id="summarize" onclick="getSummary()">Summarize the board</button>
                <button id="refresh" onclick="refreshSummary()">Refresh Summary</button>
            </div>
            <button id="next-task-btn" onclick="getNextTask()">What should I do now?</button>
        </main>

{% endblock %}
