{% extends "layout.html" %}

{% block title %}
    Smart Task Manager
{% endblock %}

{% block body %}
        <header>
            <h1>Smart Task Manager</h1>
            <ul>
                <li ><a href="/logout">Log Out</a></li>
                <li ><a href="/addtask">Add Task</a></li>
            </ul>
        </header>

        <nav aria-label="Main navigation">
            <!-- Navigation links will go here -->
        </nav>
        <main>
            <section id="kanban-board">
                <section id="todo-column" aria-labelledby="todo-heading" >
                    <h2 id="todo-heading">To Do</h2>
                    <ol class = "task-list" id="To Do">
                        <!-- empty cell to enable drag and drop -->
                        <li style="background-color: #FFFFE0"></li>
                        {% for task in tasks %}
                            {% if task.status == 'To Do' %}
                                <li id="{{ task.id }}" draggable="true">
                                    <h3>{{ task.title }}</h3>
                                    <p>{{ task.description }}</p>
                                    <button onclick="generateTask('{{ task.id}}')" id="sub-task">Generate 3 Subtasks</button>
                                    <button onclick="deleteTask('{{ task.id }}')" id="delete-task">Delete Task</button>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </section>

                <section id="in-progress-column"  aria-labelledby="in-progress-heading">
                    <h2 id="in-progress-heading">In Progress</h2>
                    <ol class = "task-list" id="In Progress">
                        <!-- empty cell to enable drag and drop -->
                        <li style="background-color: #E0FFFF"></li>
                        {% for task in tasks %}
                            {% if task.status == 'In Progress' %}
                                <li id="{{ task.id }}" draggable="true">
                                    <h3>{{ task.title }}</h3>
                                    <p>{{ task.description }}</p>
                                    <button onclick="generateTask('{{ task.id}}')" id="sub-task">Generate 3 Subtasks</button>
                                    <button onclick="deleteTask('{{ task.id }}')" id="delete-task">Delete Task</button>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </section>

                <section id="done-column" aria-labelledby="done-heading">
                    <h2 id="done-heading">Done</h2>
                    <ol class = "task-list" id="Done">
                        <!-- empty cell to enable drag and drop -->
                        <li style="background-color: #E0FFE0"></li>
                        {% for task in tasks %}
                            {% if task.status == 'Done' %}
                                <li id="{{ task.id }}" draggable="true">
                                    <h3>{{ task.title }}</h3>
                                    <p>{{ task.description }}</p>
                                    <button onclick="generateTask('{{ task.id}}')" id="sub-task">Generate 3 Subtasks</button>
                                    <button onclick="deleteTask('{{ task.id }}')" id="delete-task">Delete Task</button>                            
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </section>
            </section>
        </main>

        <script>
            const draggableTasks = document.querySelectorAll("[draggable='true']");

            //drag tasks
            draggableTasks.forEach(task => {
                task.addEventListener("dragstart", e => {
                    e.dataTransfer.setData("text/plain", task.id);
                });
            });

            //drop tasks
            const taskLists = document.querySelectorAll(".task-list");
            taskLists.forEach(taskList => {
                taskList.addEventListener("dragover", e => {
                    e.preventDefault();
                    taskList.classList.add("task-list--over");
                });

                taskList.addEventListener("dragleave", e => {
                    taskList.classList.remove("task-list--over");
                })

                taskList.addEventListener("drop", e => {
                    e.preventDefault();
                    const droppedTaskId = e.dataTransfer.getData("text/plain");
                    const droppedTask = document.getElementById(droppedTaskId);
                    
                    taskList.appendChild(droppedTask);      
                    taskList.classList.remove("task-list--over");
                    
                    var entry = {
                        taskID: droppedTask.id,
                        status: taskList.id
                    };

                    console.log(entry);

                    fetch(`${window.location.origin}/update-status`, {
                        method: "POST",
                        credentials: "include",
                        body: JSON.stringify(entry),
                        cache: "no-cache",
                        headers: new Headers({
                            "content-type": "application/json"
                        })
                    })
                    .then(response => {

                        if (response.status !== 200) {
                            
                            console.log(`Response status  was not 200 ${response.status}`);
                            return;
                        }
                        return response.json();
                    })
                    .then(data =>  {
                        console.log(data);
                     })
                    .catch(err => console.error("Fetch error:", err));
                });
            });

            function generateTask(id) {
                var entry = {
                        taskID: id
                    };

                fetch(`${window.location.origin}/generate_subtasks`, {
                        method: "POST",
                        credentials: "include",
                        body: JSON.stringify(entry),
                        cache: "no-cache",
                        headers: new Headers({
                            "content-type": "application/json"
                        })
                    })
                    .then(response => {

                        if (response.status !== 200) {
                            
                            console.log(`Response status  was not 200 ${response.status}`);
                            return;
                        }
                        return response.json();
                    })
                    .then(data =>  {
                        console.log(data);
                        alert("Subtasks generated. Please refresh the page to see them.");
                     })
                    .catch(err => console.error("Fetch error:", err));
            }

            function deleteTask(id) {
                var entry = {
                        taskID: id
                    };

                fetch(`${window.location.origin}/delete-task`, {
                        method: "POST",
                        credentials: "include",
                        body: JSON.stringify(entry),
                        cache: "no-cache",
                        headers: new Headers({
                            "content-type": "application/json"
                        })
                    })
                    .then(response => {

                        if (response.status !== 200) {
                            
                            console.log(`Response status  was not 200 ${response.status}`);
                            return;
                        }
                        return response.json();
                    })
                    .then(data =>  {
                        console.log(data);
                        alert("Task deleted. Please refresh the page to see the changes.");
                     })
                    .catch(err => console.error("Fetch error:", err));
            }
        </script>
{% endblock %}
