<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="static/js/drag.js"></script>
        <title>Smart Task Manager: {% block title %}{% endblock %}</title>
    </head>

    <body>
        {% block body %}{% endblock %}

        <footer>
            &copy; 2025 Muath Alyoubi
        </footer>
    </body>
</html>
    