{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block body %}
    <main>
        <section id="form" aria-labelledby="add-task-heading">
            <h2 id="add-task-heading">Log In</h2>
            <form action="/login" method="post">
                <input autocomplete="off" autofocus name="username" type="text" id="username"
                    placeholder="username" required>
                
                <input autocomplete="off" autofocus name="password" type="text" id="password" 
                    minlength="8" maxlength="20" placeholder="password" required>

                <button type="submit">Log In</button>
            </form>
        </section>
    </main>
{% endblock %}