{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block body %}
    <main>
        <section id="form" aria-labelledby="add-task-heading">
            <h2 id="add-task-heading">Register</h2>
            <form action="/register" method="post">
                <input autocomplete="off" autofocus name="username" type="text" id="username"
                    placeholder="username" required>
                
                <input autocomplete="off" autofocus name="email" type="email" id="email"
                    placeholder="email">
                
                <input autocomplete="off" autofocus name="password" type="text" id="password" 
                    minlength="8" maxlength="20" placeholder="password" required>

                <input autocomplete="off" autofocus name="confirmation" type="text" id="confirmation"
                    minlength="8" maxlength="20" placeholder="confirme password" required>

                <button type="submit">Register</button>
            </form>
        </section>
    </main>
{% endblock %}