{% extends "layout.html" %}

{% block title %}
Tasks
{% endblock %}

{% block body %}
    <main>
        <section id="tasks">
            <ul>
                {% for task in tasks %}
                    {% if task.parent_id is none %}
                        <li>
                            <h3 style="color: red;">{{ task.title }}</h3>
                            <ul>
                                <p>{{ task.description }}</p>
                                <p>status: {{ task.status }}</p>
                                <p>priority: {{ task.priority }}</p>
                                {% if task.due_date is not none %}
                                    <p>due on: {{ task.due_date }}</p>
                                {% endif %}
                            </ul>
                                {% set ns = namespace(printed=false) %}
                                <ol>
                                {% for sub in subtasks %}
                                    {% if sub.parent_id == task.id %}
                                        {% if not ns.printed %}
                                            <h6>SubTasks:</h6>
                                            {% set ns.printed = true %}
                                        {% endif %}
                                    <li>
                                        <h3 style="color: green;">{{ sub.title }}</h3>
                                        <p>{{ task.description }}</p>
                                        <p>priority: {{ task.priority }}</p>
                                        {% if task.due_date is not none %}
                                            <p>due on: {{ task.due_date }}</p>
                                        {% endif %}
                                        <button onclick="deleteTask('{{ task.id }}')" id="delete-task">Delete Task</button>
                                        <a href="{{ url_for('editTask', id=sub.id) }}" id="update-task">Update Task</a>
                                    </li>
                                    {% endif %}

                            {% endfor %}
                            </ol>
                            <button onclick="deleteTask('{{ task.id }}')" id="delete-task">Delete Task</button>
                            <a href="{{ url_for('editTask', id=task.id) }}" id="update-task">Update Task</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}