{% extends "layout.html" %}

{% block title %}
    Update Task
{% endblock %}

{% block body %}
    <main>
        <section id="form" aria-labelledby="add-task-heading">
            <h2 id="add-task-heading">Update Task Status</h2>
            <form action="update-status" method="post">
                <label for="taskID">Task Title</label>
                <input autocomplete="off" autofocus name="taskID" type="text" id="taskID"
                    placeholder="1" required>

                <select name="status" id="task-status" required>
                    <option value="To Do">To Do</option>
                    <option value="In Progress">In Progress</option>
                    <option value="Done">Done</option>
                </select>
                <button type="submit">Update Task Status</button>
            </form>
        </section>
    </main>
{% endblock %}